* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentBox {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.inputBox {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createButton {
    margin-top: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 26px;
}

.inputs {
    width: 500px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.newInputs {
    display: flex;
    flex-direction: column;
}

.line {
    margin-top: 40px;
    background-color: #000;
    width: 300px;
    height: 3px;
    align-self: center;
}

.removeBotton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}